@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fractul";
  src: url("/apps/web/public/fractul/fonnts.com-fractul-medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
